apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: innosistemas
  labels:
    app: backend
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/api/v1/actuator/prometheus"
    prometheus.io/port: "80"
spec:
  selector:
    app: backend
  ports:
  - port: 80
    targetPort: 8080
    name: http
  type: ClusterIP